# AWS Elastic Beanstalk Configuration
# Place this in: backend/identity_service/.ebextensions/

option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 5000
    SPRING_PROFILES_ACTIVE: prod
    
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
    
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
    
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:region:account:certificate/certificate-id

packages:
  yum:
    java-17-amazon-corretto-headless: []

container_commands:
  01_migrate:
    command: "echo 'Database migration will be handled by Hibernate'"
